<div class="container">
  <h4 class="text-uppercase p-20 text-center color-grey"> RETURNS AND REFUND</h4>
  <hr class="w-100">
  <p><strong>Why should I buy from Pressato?</strong></p>
  <p>To eat is a necessity, but to eat intelligently is an art.</p>
  <p>Nutrition is an integrated medicine. There is no single factor other than nutrition, which impacts your health most
    and which in turn impacts your well-being. We are a product of the nutrition we intake.</p>
  <p>We aim to walk hand in hand with every individual in pursuit of good health. All our products are made with the
    highest quality produce, contain no preservatives, no added sugar, no artificial colors or flavors.</p>
  <p>&nbsp;</p>
  <p><strong>What is cold pressed juice and how is it different from other juices? </strong></p>
  <p>Cold pressed juices are extracted by applying a tremendous amount of pressure and no heat. The hydraulic press
    ensures that the juices maintain all their essential vitamins, enzymes, proteins and minerals without them being
    exposed to oxidization, the same as you would find in raw vegetables and fruit.</p>
  <p>&nbsp;</p>
  <p><strong>Why do your FRESH juices have a 24-hour shelf life? </strong></p>
  <p>We have often heard that REAL FOOD must spoil. Our cold pressed form of juicing is done by extracting juice through
    a hydraulic press ensuring that the drink stays fresh and in its natural form for 24 to 48 hours, without any form
    of pasteurization such as high-pressure pasteurization (HPP). HPP increases the shelf life of products artificially
    from anywhere between 20 days to 6 months or even more and decreases nutrient value in the products. Our juices have
    a natural shelf life as they are made fresh and can stay up to 24 hours only when refrigerated.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Cold pressed juices have no fiber, don’t they? Is it good for health? </strong></p>
  <p>There are two types of fiber, insoluble and soluble. The insoluble fiber is what your body cannot digest. It speeds
    up the digestion process and helps to keep you regular. Soluble fiber dissolves in water and ferments in your gut
    while producing many important byproducts such as short chain fatty acids, which help the millions of microorganisms
    keep your gut healthy.</p>
  <p>So, what about fiber in the cold pressed juice? The cold press machine that takes one kg of fresh produce and
    magically produces delicious removes the insoluble fiber but maintains more than 90 percent of the vitamins,
    minerals and enzymes. The cellulose that is left over is inedible — to humans anyway.</p>
  <p>&nbsp;</p>
  <p><strong>Do you use any preservatives or refined sugar in your drinks? </strong></p>
  <p>A big NO. Our products are free of added sugars and preservatives.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>How should I store your products? </strong></p>
  <p>It is a must to store them refrigerated until consumed. We strongly recommend that the products be stored at&nbsp;
    0-8 centigrade.</p>
  <p>&nbsp;</p>
  <p><strong>Are all your juices tested and certified? </strong></p>
  <p>Yes, all our products are tested and certified by FSSAI and laboratory certified for nutritional information.</p>
  <p>&nbsp;</p>
  <p><strong>The color and taste of your products are not consistent. Why so? </strong></p>
  <p>We believe in using the best seasonal and naturally grown products in our drinks, which are completely free of
    pesticides and harmful chemicals. This results in products that are varied in taste and color, however the quality
    remains the same.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Where do you source your fruits and vegetables from? </strong></p>
  <p>We love our hard-working farmers who strive to give us the best natural and local produce. We source from farms
    that grow the freshest and most natural produce that make the best fit for our drinks.</p>
  <p>&nbsp;</p>
  <p><strong>I have been on a detox program for the last 1 week and have not lost any weight. Why so? </strong></p>
  <p>Before getting on the program, we recommend that you check with your concerned nutritionist, dietician, or doctor,
    in case you are on treatment, have a past medical record, or on medication, as these can hinder results. A
    mismatched lifestyle with irregular sleep patterns and high stress levels can also hinder the program from showing
    you any results. During our programs it is essential to get enough sleep everyday and refrain from toxin producing
    habits such as alcohol consumption or cigarette smoking.</p>
  <p>&nbsp;</p>
  <p><strong>I am diabetic. Do you have anything for me? </strong></p>
  <p>Our range of healthy green juices are completely diabetic friendly.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>I am vegan. Do you have anything for me?</strong></p>
  <p>Yes, our cold pressed juices and almond nut milk are fully vegan. We also have a range of almond milk-based
    smoothies that make great breakfast options for vegans.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>I am nursing/pregnant. Do you have anything for me? </strong></p>
  <p>Our smoothies are safe to consume in addition to your regular diet when nursing or pregnant.</p>
  <p>&nbsp;</p>
  <p><strong>How long can I continue to have green juices for? </strong></p>
  <p>You can continue to have green juices for as long as you wish. We believe our green juices work better to benefit
    the body as a lifestyle change over a period rather than as a short-term change.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Do you have anything for children? </strong></p>
  <p>All our products including the salads are enjoyed by children of all ages. It is a good idea to incorporate healthy
    habits in children from a very young age. After all these are fruits, vegetables, nuts, seeds, diary and legumes all
    of which are a must for building a healthy body and a healthy mind.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Can I use smoothies as a meal replacement? </strong></p>
  <p>Yes, our smoothies are perfectly healthy and wholesome meal replacements. They are packed with fruits, nuts, and a
    variety of mixed seeds, making them super healthy and filling.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Will having a smoothie with banana make me gain weight? </strong></p>
  <p>As one of the most underrated of fruits, banana has truckloads of benefits including a fiber called pectin and
    resistant starch which makes you feel fuller for longer, which in turn aids in weight loss. Apart from acting as a
    wonderful binder for our smoothies, they are also rich in potent anti-oxidants. The glycemic index of bananas also
    ranks from low to medium. Plus, it is local and is available in plenty.</p>
  <p>&nbsp;</p>
  <p><strong>How does a subscription work? </strong></p>
  <p>Subscription can be done via the website or by simply texting us on WhatsApp.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Can I pick and choose my products? </strong></p>
  <p>Yes, our website is designed to enable the user to pick and choose their own products.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Is subscribing the only way to get your products? </strong></p>
  <p>A subscription will allow you to enjoy our complete range of products and ensure you consistently incorporate them
    and lead a healthy lifestyle.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>What are your delivery slots? </strong></p>
  <p>We have a morning delivery slot from 6AM to 8AM, an afternoon delivery slot from 12PM to 2:30PM, and an evening
    delivery slot from 6PM to 8PM, available Monday through Saturday.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>What if I’m traveling during my subscription? </strong></p>
  <p>You can log in to your subscriber account on the website and pause your subscription until you are back.
    Alternatively, you can also WhatsApp us requesting us to pause your subscription and do the same to resume when you
    are back.</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Where do you deliver? </strong></p>
  <p>We deliver currently on in Chennai only.</p>
  <p>&nbsp;</p>
  <p><strong>What is your refund policy? </strong></p>
  <p>Refer to our refund policy</p>

</div>