<div class="p-10">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-7">
        <h4> Delivery Address</h4>
        <!-- <p *ngIf="!listOfUserAddress.length" data-toggle="collapse" data-target="#addAddress"
          class="text-underline cursor-pointer p-t-10"> <i class="fa fa-plus" aria-hidden="true"></i> Add new address
        </p> -->
        <!-- <div id="addAddress" class="collapse"> -->
        <div id="addAddress" class="p-t-20">
          <form>
            <div class="row">
              <div class="col-sm-12 col-12 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" name="username">
                </div>
              </div>
              <div class="col-sm-12 col-12 col-md-6">
                <div class="form-group">
                  <input type="number" class="form-control" placeholder="Phone No." name="phonenumber">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-12 col-md-12">
                    <div class="form-group">
                        <textarea name="message" rows="3" class="w-100 form-control" placeholder="Address"></textarea>
                    </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-12 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="locality" placeholder="Locality">
                </div>
              </div>
              <div class="col-sm-12 col-12 col-md-6">
                <div class="form-group">
                  <input type="number" class="form-control" name="city" placeholder="City/District/Town">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-12 col-md-6">
                  <div class="form-group">
                      <select class="form-control" name="state">
                          <option value="-">-Please select state-</option>
                          <option value="volvo">TamilNadu</option>
                          <option value="saab">Delhi</option>
                        </select>
                  </div>
                </div>
                <div class="col-sm-12 col-12 col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control" name="pincode" placeholder="Pincode/Zipcode">
                  </div>
                </div>
              </div>



          </form>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 cart-summary">
        <app-price-summary></app-price-summary>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-12 col-sm-12 payment-background">
      <p><span>Credit Card/Debit Card/NetBanking</span><span class="p-l-10"><img src="./assets/logo/razorpay.png"></span></p>
      <div class="payment-box">
          <p>Pay securely by Credit or Debit card or Internet Banking through Razorpay.</p>
      </div>
      <hr class="w-100">
      <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <span class="hyperlink cursor-pointer">privacy policy</span>.</p>
      <div class="row p-t-20">
          <span type="button" class="add-cart-button text-center p-10">Place Order</span>
        </div>
    </div>
    </div>
  </div>
</div>