<div class="container p-t-20 p-b-20">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <img src="./assets/logo/about-us.jpg" class="w-100 h-100">
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <h4 class="text-uppercase p-20 text-center color-grey"> Who We Are </h4>
      <hr class="w-100">
      <div class="wpb_wrapper">
        <p class="p1">At Pressato, we believe that everything that the body needs to build and heal is available in the
          nature’s lap.</p>
        <p class="p1">That’s why we aim to give you the best of fresh produce in the most easily consumable form every
          single time. All our drinks provide you with a chock full of nutrients that gear you up towards fighting
          toxins, boosting immunity and keeps you going for a healthy long life.</p>
        <p class="p1">We are no different from your grandparents and parents who constantly ask you to include a wide
          range of naturally available healthy ingredients to your diet. We only aim to give you the easiest form of
          grab-and-go option especially when you don’t want to compromise on your fruit and veggie goals.</p>
        <p class="p1">We provide you nutrient dense drinks and salads that you and your kids will love. The buck stop
          with us where eating healthy and tasting great go hand in hand. If traditional wisdom is of any indication,
          freshness is the key to complete potency and efficacy.</p>
        <p class="p1">Also with us your fruits and veggies can actually taste good.</p>

      </div>
    </div>
  </div>

</div>