.category {
    display: flex;
}
.title {
    font-size: 1rem;
    color: #179b39;
    border-bottom: 1px solid;
}
.menu .menu-item {
    font-size: 0.8rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 0.5rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase
}
/* .menu .menu-item.active,
.menu .menu-item:hover {
    color:white;
} */

@media (max-width: 425px) {
    .category {
        display: block;
    }
}

.title {
    border-bottom: 1px solid #f3f3f3;   
    text-transform: capitalize;
}
