.category {
    display: flex;
}
.title {
    font-size: 1rem;
    color: #179b39;
    border-bottom: 1px solid;
}
.menu .menu-item {
    font-size: 0.8rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 0.5rem;
    outline: none;
    cursor: pointer;
}
.menu .menu-item.active,
.menu .menu-item:hover {
    background: #179b39
}

@media (max-width: 425px) {
    .category {
        display: block;
    }
}