<div class="col-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="col-sm-12 col-12 col-md-5">
      <img src="./assets/products-image/eden.jpg" class="w-100 h-95">
    </div>
    <div class="col-sm-12 col-12 col-md-7">
      <h3 class="product-name p-t-20"> EDEN</h3>
      <p class="product-price">200</p>
      <div>
        <span>
          {{ 300 }} {{'ml'}}
        </span>
      </div>
      <div class="ingredient p-t-b-10">
        {{ 'Cucumber, Spinach, Bottle Gourd, Coriander, Ginger, Mint, Lemon, Himalayan Salt' }}
      </div>
      <div class="row p-t-b-10">
        <div class="col-3 col-sm-3 col-md-2">
          <input type="number" class="quantity mr-1 w-100" step="1" min="0" max="" name="quantity" value="1">
        </div>
        <div class="col-5 p-0 p-l-5 col-sm-5 col-md-5">
          <span class="float-left add-cart-button pad-5">add to cart</span>
        </div>
      </div>
    </div>
  </div>
  <div class=" row p-20 product-description-tab">
    <ul class="nav nav-tabs nav-tabs-fillup w-100" data-init-reponsive-tabs="dropdownfx" role="tablist">
      <li class="nav-item" (click)="tabChange('ingredients')">
        <a data-toggle="tab" class="active nav-link tab-menu " href="#slide1"><span>Ingredients</span></a>
      </li>
      <li class="nav-item" (click)="tabChange('goodness')">
        <a data-toggle="tab" class="nav-link tab-menu " href="#slide"><span>Goodness</span></a>
      </li>
      <li class="nav-item" (click)="tabChange('intention')">
        <a data-toggle="tab" class="nav-link tab-menu " href="#slide1"><span>Intention</span></a>
      </li>
      <li class="nav-item" (click)="tabChange('nutritional')">
        <a data-toggle="tab" class="nav-link tab-menu " href="#slide1"><span>Nutritional Information Per
            100ml</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane slide-left active" id="slide1">
        <ng-container *ngIf="currentTab == 'ingredients'">
          <ul class="p-20">
            <li>Cucumber</li>
            <li>Spaniach</li>
            <li>Bottle Gourd</li>
            <li>Coriander</li>
            <li>Ginger</li>
            <li>Mint</li>
            <li>Lemon</li>
            <li>Himalayan Salt</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="currentTab == 'goodness'">
          <p class="p-20">
            With over a kilo of vegetables pressed to extract the freshest juice, this drink is a green indulgence.
            Cucumber, bottle gourd, and coriander are rich in vitamin K while spinach is rich in iron. Ginger, mint, and
            lemon contribute as healing elements to this drink, ginger and mint being rich in anti-inflammatory
            properties. This drink promotes weight loss, healing of urinary tract infections and reduces inflammation of
            the liver. It also helps in treating problems related to digestive system like acidity and flatulence.
          </p>
        </ng-container>
        <ng-container *ngIf="currentTab == 'intention'">
          <p class="p-20">
            Our cold-pressed juices are composed with your nutritional needs in mind. They not only make use of the
            traditional ingredients for health-giving but that they also are carefully balanced to include a
            comprehensive collection of the nutrients your body needs for natural and traditional lifestyle.
          </p>
        </ng-container>
        <ng-container *ngIf="currentTab == 'nutritional'">
          <ul class="p-20">

            <li> Energy (kcal) 14.3</li>
            <li> Fat (g) 0.1</li>
            <li> Carbohydrates (g) 3.6</li>
            <li> Total Sugar (g)2.2</li>
            <li> Protein (g) 0.1 </li>
            <li> Weight Watchers Points: Low</li>
            <li> To be consume on the same day of delivery</li>
            <li> Shake Well</li>
            <li> Serve Chilled</li>
            <li> Portion Size: 300m</li>

          </ul>










        </ng-container>
      </div>
    </div>
  </div>

  <h3 class="p-t-b-10">Related Products</h3>
  <div class="col-12 col-md-12 col-sm-12 m-t-b-10">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 pad-5">
        <div class="product-card">
          <div class="related-product-banner">
            <img src="./assets/products-image/cold_crea.jpg" class="w-100 h-100">
          </div>
          <div class="margin-auto text-center">
            <p class="text-uppercase m-0 font-bold">pomo-gerande</p>
            <p class="product-price m-0">200 <span>
                {{ '-' + 300 }} {{'ml'}}
              </span></p>
            <div>

            </div>
            <div class="row p-t-b-10 justify-center">
              <input type="number" class="quantity mr-1 w-25" step="1" min="0" max="" name="quantity" value="1">
              <span class="float-left add-cart-button pad-5">add to cart</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 pad-5">
        <div class="product-card">
          <div class="related-product-banner">
            <img src="./assets/products-image/cold_crea.jpg" class="w-100 h-100">
          </div>
          <div class="margin-auto text-center">
            <p class="text-uppercase m-0 font-bold">pomo-gerande</p>
            <p class="product-price m-0">200 <span>
                {{ '-' + 300 }} {{'ml'}}
              </span></p>
            <div>

            </div>
            <div class="row p-t-b-10 justify-center">
              <input type="number" class="quantity mr-1 w-25" step="1" min="0" max="" name="quantity" value="1">
              <span class="float-left add-cart-button pad-5">add to cart</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 pad-5">
        <div class="product-card">
          <div class="related-product-banner">
            <img src="./assets/products-image/cold_crea.jpg" class="w-100 h-100">
          </div>
          <div class="margin-auto text-center">
            <p class="text-uppercase m-0 font-bold">pomo-gerande</p>
            <p class="product-price m-0">200 <span>
                {{ '-' + 300 }} {{'ml'}}
              </span></p>
            <div>

            </div>
            <div class="row p-t-b-10 justify-center">
              <input type="number" class="quantity mr-1 w-25" step="1" min="0" max="" name="quantity" value="1">
              <span class="float-left add-cart-button pad-5">add to cart</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-3 pad-5">
        <div class="product-card">
          <div class="related-product-banner">
            <img src="./assets/products-image/cold_crea.jpg" class="w-100 h-100">
          </div>
          <div class="margin-auto text-center">
            <p class="text-uppercase m-0 font-bold">pomo-gerande</p>
            <p class="product-price m-0">200 <span>
                {{ '-' + 300 }} {{'ml'}}
              </span></p>
            <div>

            </div>
            <div class="row p-t-b-10 justify-center">
              <input type="number" class="quantity mr-1 w-25" step="1" min="0" max="" name="quantity" value="1">
              <span class="float-left add-cart-button pad-5">add to cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>