.add-cart-button {
    background: #109b48;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
}

.add-to-cart1 {
    border-radius: 2px;
    background: #2c2c2c;
    /* padding: 12px 20px; */
    color: #fff;
    height: 2.5rem;
    line-height: 1.125rem;
    border: solid 1px #2c2c2c;
}