<div class="container">
  <h4 class="text-uppercase p-20 text-center color-grey"> RETURNS AND REFUND</h4>
  <hr class="w-100">
  <div>
    <p class="p-t-10">All our products are eligible for return and refund only if they are stored at a temperature of 0-8 degrees at
      all time, failing to do so will lead to spoilt juices and we will not be able to provide a refund or take any
      returns.</p>
    <p class="p-t-10">All refunds and returns are on the sole discretion of Pressato Food Care Private Limited upon verification by its
      employees and approval from management. You are allowed to have 2 calendar days to return an item from the date
      you received it. We insist on the item to be unused and in the same condition as received with its original
      packaging. Please provide the receipt or proof of purchase for processing the refund.</p>
    <p class="p-t-10"><span style="font-weight: 400;">On receipt of the returned item/items, we will immediately notify you of the
        status of your refund after inspecting the item. If your return is approved, we will initiate a refund to your
        credit card (or original method of payment). You will receive the credit, depending on your card issuer’s
        policies.</span></p>
    <p class="p-t-10">Refunds and returns are deemed valid only if there’s a problem with the product. The refund will be done within
      15 days</p>
    <p class="p-t-10">For cancellations please call us on our customer care 1800 572 8730 or email on&nbsp;info@pressato.in</p>
    <p class="p-t-10">If you have any questions on how to return your item to us, contact us on our customer care 1800 572 8730 or
      email us on&nbsp;info@pressato.in</p>

  </div>
</div>