<div class="">
  <nav class="navbar navbar-expand-lg green-theme navbar-light">
    <div class="col-12">
      <div class="row share-icon">
        <div class="col-5 d-none d-md-block d-lg-block">
          <i class="fa fa-facebook color-white cursor-pointer" aria-hidden="true"></i>
          <i class="fa fa-instagram p-l-10 color-white cursor-pointer" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 col-sm-2 col-7 margin-auto">
          <img src="./assets/logo/title-logo.png" style="width:85%" class="black-theme">
        </div>
        <div class="col-md-5 col-sm-10 col-5">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-uppercase header-top-menu">
              <li class="nav-item active">
                <a class="nav-link menu-text" href="#">about us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-text" href="#">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-text" href="#">cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-text" (click)="signIn = true;" data-toggle="modal" data-target="#myModal">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-text" (click)="signIn = false;" data-toggle="modal" data-target="#myModal">signup</a>
              </li>
            </ul>
          </div>
          <button class="navbar-toggler white-theme float-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation" (click)="openNav()">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
      </div>
    </div>

  </nav>
  <nav class="navbar navbar-expand-lg black-theme navbar-light category-menu">

    <div class="collapse navbar-collapse justify-content-right">
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto text-uppercase">
          <!-- <li class="nav-item">
            <a class="nav-link menu-text text-align-left dropdown" href="#">
              <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Cold Pressed </span>
              <div class="dropdown-menu m-l-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">chalco</a>
                <a class="dropdown-item" href="#">Charger</a>
                <a class="dropdown-item" href="#">citrus slap</a>
              </div>
            </a>
          </li> -->
          <li class="dropdown mega-dropdown nav-item">
            <a class="nav-link menu-text text-align-left dropdown-toggle" data-toggle="dropdown" routerLink="category/coldpress">Cold
              Pressed</a>
            <div class="dropdown-menu mega-dropdown-menu row">
              <div class="col-12 col-md-12 col-sm-12">
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">chalko</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">charger</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">citrus slap</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">eden</div>

                </div>
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">french</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">greeny</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">jade</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">orange owl</div>

                </div>
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">pomo-grenade</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">punk</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">stonned rabbit</div>
                </div>

              </div>
            </div>
          </li>
          <li class="dropdown mega-dropdown nav-item">
            <a class="nav-link menu-text text-align-left dropdown-toggle" data-toggle="dropdown" href="#">proboitic</a>
            <div class="dropdown-menu mega-dropdown-menu row">
              <div class="col-12 col-md-12 col-sm-12">
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">Assassin</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">halogen</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">mario</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">xoxo</div>

                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega-dropdown nav-item">
            <a class="nav-link menu-text text-align-left dropdown-toggle" data-toggle="dropdown" href="#">salads</a>
            <div class="dropdown-menu mega-dropdown-menu row">
              <div class="col-12 col-md-12 col-sm-12">
                <div class="row font-bold  cursor-pointer">
                  <div class="col-4 col-md-4 col-sm-4 p-10">farm frency</div>
                  <div class="col-4 col-md-4 col-sm-4 p-10">mediterranean medley</div>
                  <div class="col-4 col-md-4 col-sm-4 p-10">wild rice party</div>
                  
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega-dropdown nav-item">
            <a class="nav-link menu-text text-align-left dropdown-toggle" data-toggle="dropdown" href="#">salads</a>
            <div class="dropdown-menu mega-dropdown-menu row">
              <div class="col-12 col-md-12 col-sm-12">
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">Barbarian</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">big jo</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">dynamight</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">first knight</div>
                </div>
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">naked nuts</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">Newyorker</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">rogue</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">super nova</div>
                </div>
                <div class="row font-bold  cursor-pointer">
                  <div class="col-3 col-md-3 col-sm-3 p-10">swag</div>
                  <div class="col-3 col-md-3 col-sm-3 p-10">thalaiva</div>

                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-text text-align-left" href="#">packages</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-10">
          <img src="./assets/logo/title-logo.png" style="width:85%" class="black-theme">
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)" class="closebtn" (click)="openNav()">
            &times;</a>
        </div>
      </div>
    </div>


    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <app-login *ngIf="signIn" (signUp)="signIn = !signIn"></app-login>
      <app-new-user *ngIf="!signIn" (signIn)="signIn = !signIn"></app-new-user>
    </div>
</div>