<div class="col-md-12 col-sm-12 green-theme">
    <div class="row">
        <ul class="footer-menu margin-auto p-20">
            <li>
                <a href="#" class="footer-menu-text">
                    <span class="p-r-10">Privacy policy</span>
                </a>
            </li>
            <li>
                <a href="#"  class="footer-menu-text">
                        <span class="p-r-10">Terms and conditions</span></a>
            </li>
            <li>
                <a href="#"  class="footer-menu-text"><span class="p-r-10">Return policy</span></a>
            </li>
            <li>
                <a href="#"  class="footer-menu-text"><span class="p-r-10">FAQ</span></a>
            </li>
        </ul>
    </div>
</div>