<div class="row order-details-heading ">
  Order Price Details
</div>
<div class="row p-t-15">
  <div class="col-8 col-sm-8 col-md-8">

    <p><span class="font-bold">Price(1 item):</span></p>
  </div>
  <div class="col-4 col-sm-4 col-md-4">
    <span class="price error">1500000</span>
  </div>
</div>
<div class="row">
  <div class="col-8 col-sm-8 col-md-8">
    <span class="font-bold">Delivery Charge:</span>
  </div>
  <div class="col-4 col-sm-4 col-md-4">
    <span class="color-green-theme">FREE</span>
  </div>
</div>
<p class="hyperlink cursor-pointer p-t-10" data-toggle="collapse" data-target="#demo">Apply Coupon</p>
<div class="row collapse" id="demo">
  <div class="col-8 col-sm-8 col-md-8">
    <span class="font-bold">Coupon Code:</span>
  </div>
  <div class="col-4 col-sm-4 col-md-4">
    <span class="color-green-theme"><input type="text" [(ngModel)]="couponCode" class="w-100"></span>
  </div>
</div>
<hr class="w-100">
<div class="row">
  <div class="col-8 col-sm-8 col-md-8">
    <span class="font-bold">Total Amount to Pay:</span>
  </div>
  <div class="col-4 col-sm-4 col-md-4">
    <span class="price error">1500000</span>
  </div>
</div>