<div class="col-md-12 col-12 col-sm-12">
  <h4 class="p-20"><strong>Terms and Conditions – Disclaimer </strong></h4>
  <hr class="w-100">
  <p class="p-t-10">By using this site you have unconditionally accepted the terms and conditions of use as given here
    under
    and/or elsewhere in the site.</p>
  <p class="p-t-10">You hereby assume the sole risk of in use or relying on the products and services and information
    available
    on this website. Pressato Food Care Private Limited ( referred to as PFCPL, here below) makes no
    representations about the suitability, completeness, reliability, timelines, or accuracy of the information,
    products and described or contained in this site for any purpose, all information, products and services are
    provided in this site for any purpose, all information, products and services are provided “as is” without
    warranty of any kind, including all implied warranties and conditions of merchantability, fitness for a
    particular purpose, title and non infringement.</p>
  <p class="p-t-10">While PFCPL in all honesty endeavors to provide the most accurate, on the dot and up to date
    information,
    products and services, the site may contain inaccuracies, typographical errors, or outdated information.</p>
  <p class="p-t-10">Moreover, PFCPL may make modifications or changes to this site or the information on products and
    services
    described in this site at any time without any given notice or written consent. PFCPL is not responsible for
    typographical or pricing errors on the site.</p>
  <p class="p-t-10">PFCPL reserves the right to modify or cancel orders anytime including but not limited to the orders
    that
    contain incorrect prices or product descriptions, orders in which PFCPL believes the customer has violated
    applicable law and orders that PFCPL believes are harmful to PFCPL or its vendors/suppliers/affiliates. PFCPL
    also reserves the rights to limit the number of items purchased or orders placed through this site.</p>
  <p class="p-t-10">All content on this website including the logo, graphics, text, design, belong to PFCPL and are the
    intellectual properties of PFCPL are protected by appropriate legislations. No part of the content shall be
    copied, downloaded, transmitted or published without prior, written permission from the Company.</p>
  <p class="p-t-10">PFCPL may at any time modify the terms and conditions (“Terms”) of the Service without any prior
    notification
    and the revised version shall be available on the site. By continuing the usage of this site you are agreeing
    to the revised terms and conditions.</p>


  <h4><strong>SHIPPING POLICY</strong></h4>
  <p>PFCPL cannot commit any time fixed for delivery. The delivery of our products will be made between 6:00 am to
    9:30 am and 6:00 pm to 9:30 pm of the date for our Cold pressed juices, smoothies and salads. Adverse weather
    conditions or government regulatory activities, closures due to state restraints may affect the timing .</p>
  <p>Currently the products will be delivered for addresses in Chennai.</p>
  <p>Orders will have to be booked before 4pm the previous day.</p>
  <p>While placing the order the customer shall provide the following details which include Name, Full address,
    contact number, Alternate contact number, landmark along with Email ID.</p>
  <p>Confirmation email will be sent to the customer after acceptance of the order.</p>
  <p>The consignment will not be redirected/redelivered to any other address at any circumstances.</p>
  <p>No Deliveries will be made on Sundays and some Prescribed holidays.</p>
  <p>PFCPL’s or the third party delivery agent will attempt delivery of the products once. In case the delivery is
    not executed during the attempt, the customer shall still be charged for the order and no redeliver attempt
    will be made.</p>
  <h4></h4>
  <h4><strong>PFCPL will consider the order as “executed” in the following cases:</strong></h4>
  <ul>
    <li>Delivery not possible due to wrong address given by the customers.</li>
    <li>No persona available at the address for receiving the delivery.</li>
    <li>Wrong contact number provided or when tried by the agent the phone/mobile was not in working condition.
    </li>
    <li>Product delivered at the security cabin of the building/Reception/Neighbor, based on the instructions from
      the customer.</li>
    <li>In case of civil disturbances, floods, Heavy Rains, National Bandh or in happening any other force majeure
      event, we reserve the right to cancel the order or reschedule the delivery to another date without notice.
    </li>
    <li>Request for cancellation of confirmed order can be made up to 48 hours before the delivery time.</li>
  </ul>
  <h4 style="text-align: left;"><strong><span style="color: #ff0000;">*</span>All the prices are inclusive of
      taxes</strong></h4>

</div>