<div>
  <div class="parallax"></div>
  <div class="listOfProducts b-s-1">
    <div class="col">
      <h2 class="margin-auto p-20">Products </h2>
      <div class="row" id="wrapper">
        <div class="col p-20">
          <!-- <div class="card-product">

          </div> -->
          <div class="circle-section">
              <p><img class="alignnone wp-image-382 size-full" src="./src/assets/products-image/cold_crea.jpg" alt=""></p>
              <div class="content">
                  <h2>Cold Pressed</h2>
                  <p>Cold pressed juice is made with a hydraulic press that uses pressure to extract the maximum amount of liquid from raw fresh fruits and vegetables.</p>
                  <p><a class="btn" href="#">Shop Now</a></p>
                  </div>
              </div>
        </div>
        <div class="col p-20">
            <div class="circle-section">
                <p><img class="alignnone wp-image-382 size-full" src="./src/assets/products-image/prob_crea.jpg" alt=""></p>
                <div class="content">
                    <h2>Probiotic</h2>
                    <p>Our probiotic drink is loaded with good, helpful bacteria from yogurt, and a well curated selection of fruits</p>
                    <p><a class="btn" href="#">Shop Now</a></p>
                    </div>
                </div>
        </div>
        <div class="col p-20">
            <div class="circle-section">
                <p><img class="alignnone wp-image-382 size-full" src="./src/assets/products-image/smoothies_crea.jpg" alt=""></p>
                <div class="content">
                    <h2>Smoothies</h2>
                    <p>Smoothies are champions in getting essential nutrients in a one quick meal that is filled with adequate calories</p>
                    <p><a class="btn" href="#">Shop Now</a></p>
                    </div>
                </div>
        </div>
        <div class="col p-20">
            <div class="circle-section">
                <p><img class="alignnone wp-image-382 size-full" src="./src/assets/products-image/salads_crea.jpg" alt=""></p>
                <div class="content">
                    <h2>Salads</h2>
                    <p>Our salads apart from their natural good taste and great texture alongside wonderful colors and aromas, eating a large serving of fresh</p>
                    <p><a class="btn" href="#">Shop Now</a></p>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-parallax">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 margin-auto text-center">
          <h3>Stay Connected with us </h3>
              <p>for offers and promotions</p>
        </div>
        <div class="col-md-4 col-sm-4 margin-auto text-left p-20">
            <form>
                <div class="form-group">
                    <label for="email">Name:</label>
                    <input type="tezt" class="form-control custom-input" [(ngModel)]="userName" name="userName">
                  </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control custom-input" [(ngModel)]="email" name="email">
              </div>
              <div class="form-group">
                <label for="pwd">Phone (Optional)</label>
                <input type="number" class="form-control custom-input" [(ngModel)]="phone" name="phone">
              </div>
              <button type="submit" class="btn add-cart-button">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>